<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Post</title>
    <link rel="stylesheet" href="/public/styles.css">
</head>
<body>
    <h1>Create New Post</h1>
    <form action="/new" method="POST">
        <label inputmode="required" for="title">Title:</label><br>
        <input type="text" id="title" name="title" required><br>
        <label for="content">Content:</label><br>
        <textarea id="content" name="content"></textarea><br>
        <button type="submit" style="background-color: #ff0000; color: #fff; border: none; padding: 5px 10px; cursor: pointer;">Submit</button>
    </form>
</body>
</html>
